<%= form_for_filterrific @filterrific do |f| %>
  <h4><b>値段</b></h4>
  <p style="width:100%">Room : </br><span id="room-gte">￥0</span>-<span id="room-gte-1">￥0</span></p>
  <%= f.range_field :with_room_price_gte, min:'0', max: HotelRoom.order('price DESC').first.price, step: '5000', value: '0',  id: "myRange-room-gte"  %>
  <p style="width:100%">Equipment : </br><span id="equipment-gte">￥0</span>-<span id="equipment-gte-1">￥0</span></p>
  <%= f.range_field :with_equipment_price_gte, min: '0', max: HotelEquip.order('price DESC').first.price, step:'500', value: '0',  id: "myRange-equipment-gte"  %>
  <br>
  <h4><b>ホテルタイプ</b></h4>
  <div>
    <% Genre.all.each do |a| %>
      <%= f.check_box(:with_all_genre_id, {multiple: false}, a.id, false) %>
      <%= a.name %></br>
    <% end %>
  </div>
  <br>
  <h4><b>設備・アメニティ</b></h4>
  <div>
    <% Equipment.all.each do |a| %>
      <%= f.check_box(:with_all_equipment_id, {multiple: true}, a.id, false) %>
      <%= a.name %></br>
    <% end %>
  </div>
<!--  <h4> Room</h4>-->
<!--  <div>-->
    <%# Room.all.each do |a| %>
      <%#= f.check_box(:with_all_room_id, {multiple: true}, a.id, false) %>
<!--      <%#= a.room_type %></br>-->
    <%# end %>
<!--  </div>-->
  <br>
  <div>
    <%= link_to('リセット', reset_filterrific_url) %>
  </div>
<% end %>
