<%= form_for_filterrific @filterrific do |f| %>
    <h4> Price</h4>

    <p style="width:100%">Room : ¥<span id="room-gte">0</span></p>
      <%= f.range_field :with_room_price_gte, in: 0..10000000, step: '5000', value: '0',  id: "myRange-room-gte"  %>    
    <p style="width:100%">Equipment : ¥<span id="equipment-gte">0</span></p>
      <%= f.range_field :with_equipment_price_gte, in: 0..10000000, step:'5000', value: '0',  id: "myRange-equipment-gte"  %>
    <h4> Equipment</h4>
    <div>
      <% Equipment.all.each do |a| %>
        <%= f.check_box(:with_all_equipment_id, {multiple: true}, a.id, false) %>
        <%= a.name %></br>
      <% end %>
    </div>
    <h4> Room</h4>
    <div>
      <% Room.all.each do |a| %>
        <%= f.check_box(:with_all_room_id, {multiple: true}, a.id, false) %>
        <%= a.room_type %></br>
      <% end %>
    </div>
    <div>
      <%= link_to('Reset filters', reset_filterrific_url) %>
    </div>

  <% end %>