<%= form_for_filterrific @filterrific do |f| %>
     <%= f.hidden_field :q, :value => params[:q] %>
  <h4><b>値段</b></h4>
  <p style="width:100%">Room : </br><span id="room-gte">￥0</span>-<span id="room-gte-1">￥200000</span></p>
  <%= f.range_field :with_room_price_gte, min:'0', max: HotelRoom.order('price DESC').first.price, step: '5000', value: '0',  id: "myRange-room-gte"  %>
  <p style="width:100%">Equipment : </br><span id="equipment-gte">￥0</span>-<span id="equipment-gte-1">￥15000</span></p>
  <%= f.range_field :with_equipment_price_gte, min: '0', max: HotelEquip.order('price DESC').first.price, step:'500', value: '0',  id: "myRange-equipment-gte"  %>
  <br>
  <h4><b>ホテルのレベル</b></h4>
  <div>
    <% [1,2,3,4,5].each do |a| %>
      <%= f.check_box(:with_all_level, {multiple: false}, a, false) %>
      <%= a %>つ星</br>
    <% end %>
  </div>
  <br>
  <h4><b>ホテルのタイプ</b></h4>
  <div>
    <% Genre.all.each do |a| %>
      <%= f.check_box(:with_all_genre_id, {multiple: false}, a.id, false) %>
      <%= a.name %></br>
    <% end %>
  </div>
  <br>
  <h4><b> 設備・アメニティ</b></h4>
  <div id="filter-load-more" class="filter-load-more">
    <% Equipment.all[1..6].each do |a| %>

      <%= f.check_box(:with_all_equipment_id, {multiple: true}, a.id, false) %>
      <%= a.name %></br>
    <% end %>
    </div>
    <div id="hidden" class="filter-load-more">
    <% Equipment.all[6..Equipment.count+1].each do |a| %>

      <%= f.check_box(:with_all_equipment_id, {multiple: true}, a.id, false) %>
      <%= a.name %></br>
    <% end %>
    </div>
    <%= link_to '.... すべて表示 ', '', class: "read-more", remote: true %>
    <%= link_to '.... 折りたたむ', '', class: "read-less", remote: true %>
    <script>
      var readmore = $(".read-more");
      var readless = $(".read-less");
      var hidden = $("#hidden");
      hidden.hide();
      readless.hide()
      $('.read-more').on('click', function (e) {
        hidden.show();
        readmore.hide();
        readless.show();
      })
      $('.read-less').on('click', function (e) {
        hidden.hide();
        readmore.show();
        readless.hide();
      })
    </script>
    <!--  <h4> Room</h4>-->
<!--  <div>-->
    <%# Room.all.each do |a| %>
      <%#= f.check_box(:with_all_room_id, {multiple: true}, a.id, false) %>
<!--      <%#= a.room_type %></br>-->
    <%# end %>
<!--  </div>-->
  <br>
  <br>
  <div>
    <%= link_to('リセット', reset_filterrific_url) %>
  </div>
<% end %>
