<%= link_to motel_path(motel) do %>
  <div class="home-form " >
    <div class = "col-md-4 ">
      <% if motel.images.first %>
        <%= image_tag motel.images.first.image.url %>
      <% else %>
        <%= image_tag "default-hotel" %>
      <% end %>
    </div>
    <div class = "home-form-top col-md-8">
      <div class="col-md-12 padding_fix" style="color: steelblue;">
      <h3><%= motel.name %></h3>
      <h5 style="color:#000;">
        <% motel.star.to_i.times do  %>
          <span class="glyphicon glyphicon-star "></span>
        <% end %>
        <% motel.blank_stars.to_i.times do  %>
          <span class="glyphicon glyphicon-star-empty "></span>
        <% end %>
        (レビュー<%= motel.reviews.count %> 件）
      </h5>
      <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= motel.address %></p>
    </div>
    <div class="col-md-12 " style="
    color: #5a0000;
    font-weight: 900;">
      <div class = "col-md-6 padding_fix ">
        <% if !motel.hotel_equips.blank? %>
        <h5><span class="glyphicon glyphicon-lamp"></span> <%= t "activerecord.attributes.equipment.name"%></h5>
          <% motel.hotel_equips.limit(4).each do |equip| %>
            <div class="col-md-12 padding_fix">
            <div class="col-md-8 padding_fix" id="name_a"><h6><%= equip.equipment.name %></h6></div>
            <div class="col-md-4 padding_fix"><h6><%=  number_to_currency(equip.price, format: "%n %u") %></h6></div>
          </div>
            <% end %>
          <% if motel.hotel_equips.count > 4 %>
            <h6 style = "color: steelblue">....尚 <%= motel.hotel_equips.count - 4 %> アメニテイある。</h6>
          <% end %>
        <% end %>
      </div>
      <div class = "col-md-6 padding_fix" >
        <% if !motel.hotel_rooms.blank? %>
        <h5><span class="glyphicon glyphicon-list-alt"></span> <%= t "activerecord.attributes.room.room_type" %></h5>
          <% motel.hotel_rooms.limit(4).each do |room| %>
          <div class="col-md-12 padding_fix">  
          <div class="col-md-9 padding_fix"><h6 class="name-width"><%= room.room.room_type %></h6></div>
            <div class="col-md-3 padding_fix "><h6><%=  number_to_currency(room.price, format: "%n %u") %></h6></div>
          </div>
            <% end %>
          <% if motel.hotel_rooms.count > 4 %>
            <h6 style = "color: steelblue">....尚 <%= motel.hotel_rooms.count - 4 %> ルームタイプある。</h6>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
<% end %>
