<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom:80px;">
      <% a = Motel.order("RANDOM()").all %>
<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
  <div class="item active">
    <% p = a[47] %>
      <%= image_tag p.images.first.image.url%>
      <%= link_to motel_path(p) do %>
        <div class="carousel-caption">
          <h3><%= p.name %></h3>
          <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= p.address %></p>
        </div>
      <% end %>
  </div>

  <div class="item">

    <% p = a[0] %>
      <%= image_tag p.images.first.image.url%>
      <%= link_to motel_path(p) do %>
        <div class="carousel-caption">
          <h3><%= p.name %></h3>
          <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= p.address %></p>
        </div>
      <% end %>
  </div>

  <div class="item">
    <% p = a[21] %>
      <%= image_tag p.images.first.image.url%>
      <%= link_to motel_path(p) do %>
        <div class="carousel-caption">
          <h3><%= p.name %></h3>
          <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= p.address %></p>
        </div>
      <% end %>
  </div>

</div>

<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
  <span class="sr-only">Next</span>
</a>
</div>