<%= render "slide" %>
<span class="text-line">
最新の口コミ。 お⁠得⁠な⁠料⁠金⁠。
</span>


<div id="motels" class="row" style="margin-top:30px;">
<div class="col-md-10">
  <%= render partial: "static_pages/motel", collection: @motels %>
  </div>
  <div class = "col-md-2" data-spy="affix" data-offset-top="600">
    <%= form_tag(root_path, :method => "get", id: "search-form-menu") do %>
    <%= text_field_tag :search_name, params[:search_name], placeholder: 'ホテル名検索'%>
    <%= text_field_tag :search_address, params[:search_address], placeholder: 'ホテルアドレス検索'%>
    <%= text_field_tag :search_level, params[:search_level], placeholder: 'レベル検索'%>
    <%= select_tag :search_equipment, options_from_collection_for_select(Equipment.all, :id, :name), :include_blank => 'アメニティ名検索'%>
    <%= select_tag :search_room, options_from_collection_for_select(Room.all, :id, :room_type), :include_blank => 'ルムタイプ検索'%>
    <%= submit_tag t("search") %>
<% end %>
</div>


<div id="paginator1">
  <%= paginate @motels, remote: true %>
</div>
</div>
