<%= render "slide" %>
<%= form_tag(root_path, :method => "get", id: "search-form-menu") do %>
  <%= text_field_tag :search_name, params[:search_name], placeholder: 'ホテル名検索'%>
  <%= text_field_tag :search_level, params[:search_level], placeholder: 'レベル検索'%>
  <%= select_tag :search_equipment, options_from_collection_for_select(Equipment.all, :id, :name), :include_blank => 'アメニティ名検索'%>
  <%= select_tag :order_price, options_for_select(["Order Price Asc","Order Price Desc"]), :include_blank => 'ルームタイプ検索' %>
  <%= submit_tag t("search") %>
<% end %>
</br>
</br>
</br>
</br>
</br>
<span class="text-line">
最新の口コミ。 お⁠得⁠な⁠料⁠金⁠。
</span>

<div id="motels" class="row" style="margin-top:30px;">
  <%= render partial: "static_pages/motel", collection: @motels %>
</div>

<div id="paginator1">
  <%= paginate @motels, remote: true %>
</div>
