<%= render "static_pages/slide" %>
<span class="text-line">
最新の口コミ。 お⁠得⁠な⁠料⁠金⁠。
</span>

<div class="row" style="margin-top:30px;">
  <div class="col-md-10" id="motels">
    <div id="filterrific_results">
      <%= render partial: "static_pages/motel", collection: @motels %>
    </div>
  </div>

  <div class ="col-md-2 home-form" style = "height: auto; margin: 23px 0px; padding: 8px !important;">
    <%= form_for_filterrific @filterrific do |f| %>
      <h4>値段</h4>

      <p style="width:100%">Room : ¥<span id="room-gte">0</span></p>
      <%= f.range_field :with_room_price_gte, in: 0..10000000, step: '5000', value: '0',  id: "myRange-room-gte"  %>
      <p style="width:100%">Equipment : ¥<span id="equipment-gte">0</span></p>
      <%= f.range_field :with_equipment_price_gte, in: 0..10000000, step:'5000', value: '0',  id: "myRange-equipment-gte"  %>
      <h4> アメニティ</h4>
      <div>
        <% Equipment.all.each do |a| %>
          <%= f.check_box(:with_all_equipment_id, {multiple: true}, a.id, false) %>
          <%= a.name %></br>
        <% end %>
      </div>
      <!--<h4>ルーム</h4>-->
      <!--<div>-->
      <!--  <% Room.all.each do |a| %>-->
      <!--    <%= f.check_box(:with_all_room_id, {multiple: true}, a.id, false) %>-->
      <!--    <%= a.room_type %></br>-->
      <!--  <% end %>-->
      <!--</div>-->
      <!--<div>-->
        <%= link_to('フィルターをリセットする', reset_filterrific_url) %>
      </div>

    <% end %>

    <h4> トップの５レビュー</h4>
    <p class="zone-p"><span class="glyphicon glyphicon-hand-right"></span> ハノイ市</p>
    <% @motels.joins(:reviews).where("zone LIKE ?","ハノイ").group("motels.id").order("AVG(reviews.rate) DESC").limit(5).each do |p| %>
      <div style ="clear:both;">
        <%= link_to motel_path(p) do  %>
          <div class="zone-left" >
            <% if p.images? %>
              <%= image_tag p.images[0].url %>
            <% else %>
              <%= image_tag "default-hotel" %>
            <% end %>
          </div>
          <div class="zone-right" >
            <%= p.name %></br>
            <% p.star.to_i.times do  %>
              <span class="glyphicon glyphicon-star "></span>
            <% end %>
            <% p.blank_stars.to_i.times do  %>
              <span class="glyphicon glyphicon-star-empty "></span>
            <% end %>
            </br>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @motels.joins(:reviews).where("zone LIKE ?","ハノイ").blank? %>
      <p>レビューしたホテルが無い</p>
    <% end %>


    <p class="zone-p"><span class="glyphicon glyphicon-hand-right"></span> ホーチミン市</p>
    <% @motels.joins(:reviews).where("zone LIKE ?","ホーチミン").group("motels.id").order("AVG(reviews.rate) DESC").limit(5).each do |p| %>
      <div style ="clear:both;">
        <%= link_to motel_path(p) do  %>
          <div class="zone-left" >
            <% if p.images? %>
              <%= image_tag p.images[0].url %>
            <% else %>
              <%= image_tag "default-hotel" %>
            <% end %>
          </div>
          <div class="zone-right" >
            <%= p.name %></br>
            <% p.star.to_i.times do  %>
              <span class="glyphicon glyphicon-star "></span>
            <% end %>
            <% p.blank_stars.to_i.times do  %>
              <span class="glyphicon glyphicon-star-empty "></span>
            <% end %>
            </br>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @motels.joins(:reviews).where("zone LIKE ?","ホーチミン").blank? %>
      <p style="color: red;">レビューしたホテルが無い</p>
    <% end %>

    <p class="zone-p"><span class="glyphicon glyphicon-hand-right"></span> ダナン市 </p>
    <% @motels.joins(:reviews).where("zone LIKE ?","ダナン").group("motels.id").order("AVG(reviews.rate) DESC").limit(5).each do |p| %>
      <div style ="clear:both;">
        <%= link_to motel_path(p) do  %>
          <div class="zone-left" >
            <% if p.images? %>
              <%= image_tag p.images[0].url %>
            <% else %>
              <%= image_tag "default-hotel" %>
            <% end %>
          </div>
          <div class="zone-right" >
            <%= p.name %></br>
            <% p.star.to_i.times do  %>
              <span class="glyphicon glyphicon-star "></span>
            <% end %>
            <% p.blank_stars.to_i.times do  %>
              <span class="glyphicon glyphicon-star-empty "></span>
            <% end %>
            </br>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @motels.joins(:reviews).where("zone LIKE ?","ダナン").blank? %>
      <p style="color: red;">レビューしたホテルが無い</p>
    <% end %>

  </div>


  <div id="paginator1">
    <%= paginate @motels, remote: true %>
  </div>

</div>