<%= form_tag(equipments_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: t("search") %>
  <%= submit_tag t("search") %>
<% end %>
<%= provide :title, t("equipment.title") %>
<%= link_to t("equipment.add_equipment"), new_equipment_path, class: "btn btn-custom3" %>
<div class="content">
  <table style="width:100%">
    <tr>
      <th><h3><%= t "activerecord.attributes.equipment.name"%></h3></th>
    </tr>
    <tbody id="equipments" class="equipments">
      <%= render partial:"equipment", collection: @equipments %>
    </tbody>
  </table>
</div>
<div id="paginator1">
  <%= paginate @equipments, remote: true %>
</div>
