<li>
  <div class="review">
    <div class="review-topbar">
      <div class="media-block media-block--12 biz-listing-medium">
        <div class="media-avatar">
          <div class="photo-box pb-60s">
            <%= link_to motel_path(review.motel) do %>
              <% if review.motel.images.count %>
                <%= image_tag review.motel.images.first.image.url, height: 60, width: 60 %>
              <% else %>
                <%= image_tag "default-hotel", height: 60, width: 60 %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="media-story">
          <div class="media-title clearfix">
            <%= link_to motel_path(review.motel) do %>
              <span><%= review.motel.name %></span>
            <% end %>
          </div>
          <address>
            <%= review.motel.address %>
          </address>
        </div>
      </div>
    </div>

    <div class="review-content">
      <div class="review-content">
        <div class="biz-rating biz-rating-large clearfix">
          <div>
            <div class="i-stars rating-large">
              <% review.rate.to_i.times do  %>
                <span class="glyphicon glyphicon-star blue_star"></span>
              <% end %>
              <% review.blank_stars.times do %>
                <span class="glyphicon glyphicon-star-empty blue_star"></span>
              <% end %>
            </div>
          </div>
          <span class="rating-qualifier">
            <%= review.created_at.strftime("%Y/%m/%d") %>
          </span>
        </div>
        <p style="font-size: 12px"><%= review.content %></p>
        <div class="img-show">
          <% if review.pictures.count < 5 %>
            <% review.pictures.each do |img| %>
                <%= image_tag img.picture.url, height:'100', width: '100' %>
            <% end %>
          <% else %>
            <% 5.to_i.times do |i| %>
                <%= image_tag review.pictures[i].picture.url, height:'100', width: '100' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="review-footer clearfix">
        <div class="rateReview voting-feedback">
          <ul class="voting-buttons" style="list-style: none; padding: 0">
            <li class="vote-item inline-block">
              <a class="ybtn ybtn--small funny js-analytics-click" data-analytics-label="ufc" href="javascript:;" rel="funny" onclick="toggleComment(<%= review.id %>)">
                <span class="glyphicon glyphicon-pencil icon icon--18-funny-outline icon--size-18 icon--currentColor button-content u-space-r-half" style="width: 18px; height: 18px;"></span>
                 <span class="vote-type">コメント</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="review-footer-actions pull-right clearfix">
          <% if can? :edit, review %>
          <%= link_to edit_motel_review_path(motel_id: review.motel.id, id: review.id), class: "chiclet-link show-tooltip js-analytics-click send-to-friend" do %>
            <span aria-hidden="true" style="width: 18px; height: 18px;" class=" glyphicon glyphicon-edit icon icon--18-share icon--size-18 icon--currentColor"></span><%= t("change") %>
          <% end %>
          <% end %>
          <% if can? :destroy, review %>
          <%= link_to motel_review_path(motel_id: review.motel.id, id: review.id), method: :delete,
          data: {confirm: t("delete_confirm")}, class: "chiclet-link show-tooltip js-analytics-click send-compliment" do %>
            <span aria-hidden="true" style="width: 18px; height: 18px;" class="glyphicon glyphicon-remove icon icon--18-compliment icon--size-18 icon--currentColor"></span><%= t("delete") %></span>
          <% end %>
          <% end %>
        </div>
      </div>
      <div id="container-review-comments-<%= review.id %>" style="display: none">
        <div class="uiUfi UFIContainer _3-a6 _4eno _1blz _69ad _65_9 _5pc9 _5vsj _5v9k">
          <% if user_signed_in? %>
          <div id="user-<%= current_user.id %>-review-<%= review.id %>" class="AddCommentInput UFIRow _4oep UFIAddComment UFIAddCommentWithPhotoAttacher _4204" data-ft="{&quot;tn&quot;:&quot;[&quot;}">
          <div class="UFIMentionsInputWrap UFIStickersEnabledInput UFIGifEnabledInput clearfix" direction="left">
            <div class="_ohe lfloat">
              <div class="UFIReplyActorPhotoWrapper img _8o _8r UFIImageBlockImage" role="presentation">
                <% if current_user.picture? %>
                  <%= image_tag current_user.picture.thumb.url, alt: current_user.name, class: "img UFIActorImage _54ru img" %>
                <% else %>
                  <%= image_tag("default-avatar", alt: current_user.name, alt: current_user.name, class: "img UFIActorImage _54ru img") %>
                <% end %>
              </div>
            </div>
            <div class="">
              <div class="UFIImageBlockContent _42ef _8u">
                <div class="UFICommentContainer">
                  <div class="_fmi _613v UFIInputContainer">
                    <div class="_2xwx _289c" role="presentation">
                      <input class="_1osa mentionsHidden" name="add_comment_text" tabindex="-1">
                      <div class="UFIAddCommentInput _1osb _2xww _5yk1" role="presentation">
                        <div class="_5yk2" tabindex="-1">
                          <div class="_5rp7">
                            <div class="_5rpb">
                              <div id="user-<%= current_user.id %>-review-<%= review.id %>-add-comment" aria-autocomplete="list" aria-controls="js_47" placeholder="コメントする..." aria-multiline="true" class="notranslate _5rpu" contenteditable="true" data-testid="ufi_comment_composer" role="textbox" spellcheck="true" style="outline: none; user-select: text; white-space: pre-wrap; overflow-wrap: break-word;"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      <div id="review-comments-<%= review.id %>" class="_3b-9 _j6a">
        <%= render review.comments.order_comment.limit(3) %>
      </div>

      <div class="UFIRow UFIPagerRow _4oep UFILastCommentComponent _2o9m">
        <div direction="right" class="clearfix">
          <% if review.comments.count > 3 %>
            <div id="paginate-<%= review.id %>" data-limit=3 data-max=<%= review.comments.count %> >
              <a class="UFIPagerLink" role="button" onclick="loadMore(<%= review.id %>)" >他のコメントを見る</a>
            </div>
          <% else %>
            <div style="display: none" id="paginate-<%= review.id %>" data-limit=3 data-max=<%= review.comments.count %> >
              <a class="UFIPagerLink" role="button" onclick="loadMore(<%= review.id %>)" >他のコメントを見る</a>
            </div>
          <% end %>
        </div>
      </div>
      <% if !user_signed_in? %>
      <div class="UFIRow UFIPagerRow _4oep UFILastCommentComponent _2o9m">
        <div direction="right" class="clearfix" style="font-size: 12px; color: #90949c">
          コメントを書きたい？
          <%= link_to "ログイン", new_user_session_path %>
        </div>
      </div>
      <% end %>
      </div>
     </div>
    </div>
  </div>
</li>

<script type="text/javascript">
  function toggleComment(id) {
    var x = document.getElementById(`container-review-comments-${id}`);
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
  }

  function loadMore(id) {
    var limit = $(`#paginate-${id}`).data("limit");
    limit += 3;
    $(`#paginate-${id}`).data('limit', limit);
    $.ajax({
      type: "GET",
      url: `/reviews/${id}/comments`,
      data: {
        limit: limit
      },
      success: function(res){
      },
      error: function(res) {
      }
    });
  }
</script>
