<%= link_to motel_path(motel) do %>
  <div class="col-md-4 home-form ">
    <%= image_tag motel.images[0].url if motel.images? %>
    <% if motel.images? %>
      <%= image_tag motel.images[0].url %>
    <% else %>
      <%= image_tag "default-hotel" %>
    <% end %>
    <h1><%= motel.name %></h1></br>
    <h2>
      <% motel.level.to_i.times do  %>
        <span class="glyphicon glyphicon-star "></span>
      <% end %>
      <% motel.blank_stars.to_i.times do  %>
        <span class="glyphicon glyphicon-star-empty "></span>
      <% end %>
    </h2>
    <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= motel.address %></p>
  </div>
<% end %>
