<div class="col-md-12 title">    
    <div class="name"><%= @motel.name %></div>
    <span><%= @motel.level %> sao</span>
</div>
<div class="address">
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= @motel.address %>
</div>
<div class="phone"> 
    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <%= @motel.phone %>
</div>
<div class="description">
    <%= t("activerecord.attributes.motel.images") %> : <%= @motel.description %>
</div>

<span class="text-line">
    <%= t("activerecord.attributes.motel.images") %>
</span>
<div class="img-show">
    <% @motel.images.each do |img| %>
        <%= image_tag img.url, height:'230' %>
    <% end %>
</div>

<span class="text-line">
<%= t("activerecord.attributes.room.room_type") %>
</span>
<% @motel.hotel_rooms.each do |hotel_rooms| %>
    <div class="room-item">
        <div class="room-type">
            <%= hotel_rooms.room.room_type %>
        </div>
        <div class="bed-number">
            <span class="glyphicon glyphicon-bed" aria-hidden="true"></span> <%= t("activerecord.attributes.room.bed_numbers") %> : <%= hotel_rooms.room.bed_numbers %>
        </div>
        <div class="guest-no">
            <span class="glyphicon glyphicon-user"></span> <%= t("activerecord.attributes.room.guest_no") %> : <%= hotel_rooms.room.guest_no %>
        </div>
        <div class="price">
            <span class="glyphicon glyphicon-yen" aria-hidden="true"></span> <%= t("activerecord.attributes.hotel_equips.price") %> : <%= hotel_rooms.price %>
        </div>
    </div>
<% end %>
<span class="text-line">
    <%= t("activerecord.models.hotel_equip") %>
</span>
<% @motel.hotel_equips.each do |hotel_equips| %>
    <div class="room-item">
        <div class="room-type">
            <span class="glyphicon glyphicon-object-align-bottom"></span> <%= t("activerecord.attributes.equipment.name") %> : <%= hotel_equips.equipment.name %>   
        </div>
        <div class="price">
            <span class="glyphicon glyphicon-yen" aria-hidden="true"></span> <%= t("activerecord.attributes.hotel_equips.price") %> : <%= hotel_equips.price %>
        </div>
    </div>
<% end %>