<tr style="border-bottom:solid 1px #E8E8E8;">
  <td><%= room.room_type %></td>
  <td><%= room.bed_numbers %></td>
  <td><%= room.guest_no %></td>
  <td style="float:right;">
    <%= link_to t("change"), edit_room_path(room), class:"btn btn-success"%>
    <%= link_to t("delete"), room_path(room), method: :delete,
        data: {confirm: t("delete_confirm")}, class: "btn btn-danger" %>
  </td>
</tr>
